.ad-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 5vw;
    background-color: rgba(247, 243, 234, 0.85);
    gap: 2rem;
    width: 100%;
height: 100%;
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Prevent content overflow */
    padding-top: 5%;
    padding-bottom: 5%;
}

.ad-text {
    flex: 1 1 50%;
    min-width: 0; /* Allow shrinking */
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 10%;
}

.ad-container .intro-heading{
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 0;
    font-weight: bold;
}

.explore-link {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    width: 30%;
}

.explore-link:hover {
    color: gray;
}

.ad-image-wrapper {
    flex: 1 1 50%;
    min-width: 0; /* Allow shrinking */
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.villa-img {
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
    object-fit: cover;
}
@media (max-width: 768px) {
  .reverse {
    flex-direction: column-reverse !important;
  }

  .row, .locations-section-content, .changing-content,
  .zakopane-section-content, .strengths-cards, .location-block {
    flex-direction: column !important;
    text-align: center;
    gap: 1.5rem;
  }

  .location-image img,
  .changing-image img,
  .zakopane-image img,
  .strength-image {
    width: 100% !important;
    height: auto !important;
  }
}
