.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color:rgba(247, 243, 234, 0.85);
}

.content {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

body {
  font-family: "Domine", serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Allows scrolling */
  background-color: #F2EEE8;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

@media (max-width: 768px) {
  .reverse {
    flex-direction: column-reverse !important;
  }

  .row, .locations-section-content, .changing-content,
  .zakopane-section-content, .strengths-cards, .location-block {
    flex-direction: column !important;
    text-align: center;
    gap: 1.5rem;
  }

  .location-image img,
  .changing-image img,
  .zakopane-image img,
  .strength-image {
    width: 100% !important;
    height: auto !important;
  }
}

.line {
  border-left: 3px solid black;
  height: 250px;
  margin: 0 auto; /* Centers the line horizontally */
  display: flex; /* Enables flex properties */
}